<ion-view view-title="Credit card details">
  <ion-content>
    
<div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Card Holder Name">
		  </label>
		</div>
	</div>

	<div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="number" placeholder="Credit Card Number">
		  </label>
		</div>
	</div>


	</div>
	  

	<div class="row">
		<div class="col col-50">
			<label class="item item-input">
		    <input type="text" placeholder="Expiry Date">
		  </label>
		</div>

		<div class="col col-50">
			<label class="item item-input">
		    <input type="number" placeholder="CCV">
		  </label>
		</div>
	</div>

	</div>

	<div class="row">
		<div class="col">
   	<a href="#/app/settings">
    	<button class="button button-block button-light">
				Save
			</button>
		</a>
		</div>
	</div>

  </ion-content>
</ion-view>
