<ion-view view-title="Welcome">
  <ion-content>
 
	<div class="row">
		<a href="#">
			<button class="button button-block button-positive">
			Pizza Menu
			</button>
		</a>
	</div>

	<div class="row">
		<a href="#">
			<button class="button button-block button-positive">
			Call Newlands
			</button>
		</a>
	</div>

	<div class="row">
		<a href="#/app/pay-now">
			<button class="button button-block button-positive">
			Payment
			</button>
		</a>
	</div>

	<div class="row">
		<a href="#">
			<button class="button button-block button-positive">
			Customer Care
			</button>
		</a>
	</div>

	<div class="row">
		<a href="#/app/settings">
			<button class="button button-block button-positive">
			Settings
			</button>
		</a>
	</div>



  </ion-content>
</ion-view>
