<ion-view view-title="Billing Details">
  <ion-content>

    <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Name">
		  </label>
		</div>
	</div>

	  <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Surname">
		  </label>
		</div>
	</div>

	  <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Phone">
		  </label>
		</div>
	</div>

	  <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Mobile">
		  </label>
		</div>
	</div>

	  <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Email">
		  </label>
		</div>
	</div>
  
  <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Billing Address">
		  </label>
		</div>
	</div>

	<div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="City">
		  </label>
		</div>
	</div>

	<div class="row">
		<div class="col col-50">
			<label class="item item-input">
		    <input type="text" placeholder="Country > Dropown">
		  </label>
		</div>

		<div class="col col-50">
			<label class="item item-input">
		    <input type="text" placeholder="Zip Code">
		  </label>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<a href="#/app/settings">
	    	<button class="button button-block button-light">
			  	Save
				</button>
			</a>
		</div>
	</div>
    	
  </ion-content>
</ion-view>
